<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supervision.dal.authority.user.dao.AuthorityUserDAO">
    <resultMap id="UserMap" type="com.supervision.dal.authority.user.entity.AuthorityUserDO">
        <id property="userId" column="ID"/>
        <result property="userAcct" column="USER_ACCT"/>
        <result property="userPwd" column="USER_PWD"/>
        <result property="userRoleId" column="USER_ROLE_ID"/>
        <result property="userPhone" column="USER_PHONE"/>
        <result property="userEmail" column="USER_EMAIL"/>
    </resultMap>

    <select id="count" resultType="int">
        SELECT COUNT(*) FROM AUTHORITY_USERS;
    </select>

</mapper>