<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>大数据分析系统</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="../metro/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../metro/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="../metro/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../metro/css/style.css" rel="stylesheet" />
    <link href="../metro/css/style-responsive.css" rel="stylesheet" />
    <link href="../metro/css/style-default.css" rel="stylesheet" id="style_color" />
</head>
</html>